

body {
  background-color: #282c34;
}




h1 {
  text-align:center;
  color: aquamarine;
  
 
  
  
  
}


.App {
  text-align: center;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  
  position:absolute;
  background-color: aquamarine;
  
  width: 740px;
  box-sizing: border-box;

  max-width: 1085px;
  padding: 20px;
  
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(197, 197, 197);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(3, 60px);
  grid-gap: 5px;

  margin-left: auto;
  margin-right: auto;
  
}

.Panel{
  top: 550px;
  position:absolute;
  background-color: white;
  display: grid;
  left: 50%;
  background-color: rgb(183, 248, 248);
  border: 2px solid black;
  border-radius: 5px;

  

}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  .App{  
    grid-template-columns: repeat(10, 25px);
    grid-template-rows: repeat(6, 50px);
    grid-gap: 5px;
    width: auto;
    top: 300px;
    
    }

    .Panel{
      top: 550px;
      position:absolute;
      background-color: white;
      display: grid;
      left: 41%;
      background-color: rgb(183, 248, 248);
      border: 2px solid black;
      border-radius: 5px;
    
      
    
    }

  
 
}

