body {
  background-color: #282c34;
}

.App {
  text-align: center;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  margin-left: auto;
  margin-right: auto;
  height: 360px;
  background-color: aquamarine;
  position: relative;
  width: 360px;
}

h1 {
  text-align:center;
  color: aquamarine;
}
